### USER DEFINED FUNCTION

What we need to know about functions:

- docstrings: documentation for functions. Example: 
  for f(): <br>
  """This is docstring for documentation of function f"""


- tuple: sequence of immutable python objects.<br> 
  cant modify values<br>
  tuple uses paranthesis like tuple = (1,2,3)<br> 
  unpack tuple into several variables like a,b,c = tuple

In [1]:
# example of what we learn above
def tuple_ex():
    """ return defined t tuble"""
    t = (1,2,3)
    return t
a,b,c = tuple_ex()
print a,b,c

1 2 3

### SCOPE

What we need to know about scope:

- global: defined main body in script
- local: defined in a function
- built in scope: names in predefined built in scope module such as print, len 

Lets make some basic examples

In [2]:
x = 2
def f():
    x = 3
    return x
print x      # x = 2 global scope
print f()    # x = 3 local scope

2
3

In [3]:
# What if there is no local scope
x = 5
def f():
    y = 2*x        # there is no local scope x
    return y
print f()         # it uses global scope x
# First local scope searched, then global scope searched, if two of them cannot be found lastly built in scope searched.

10

### NESTED FUNCTION

- function inside function.
- There is a LEGB rule that is search local scope, enclosing function, global and built in scopes, respectively.

In [4]:
#nested function
def square():
    """ return square of value """
    def add():
        """ add two local variable """
        x = 2
        y = 3
        z = x + y
        return z
    return add()**2
print square()

25

### DEFAULT and FLEXIBLE ARGUMENTS

- Default argument example:

 
def f(a, b=1):
 """ b = 1 is default argument"""

- Flexible argument example:


def f(*args):
 """ *args can be one or more"""

def f(** kwargs)
 """ **kwargs is a dictionary"""

In [5]:
# default arguments
def f(a, b = 1, c = 2):
    y = a + b + c
    return y
print f(5)
# what if we want to change default arguments
print f(5,4,3)

8
12

In [7]:
# flexible arguments *args
def f(*args):
    for i in args:
        print i
f(1)
print ""
f(1,2,3,4)
print ""
# flexible arguments **kwargs that is dictionary
def f(**kwargs):
    """ print key and value of dictionary"""
    for key, value in kwargs.items():               # If you do not understand this part turn for loop part and look at dictionary in for loop
        print key, " ", value
f(country = 'spain', capital = 'madrid', population = 123456)

1

1
2
3
4

country   spain
population   123456
capital   madrid

### LAMBDA FUNCTION

Faster way of writing functions

In [8]:
# lambda function
square = lambda x: x**2     # where x is name of argument
print square(4)
tot = lambda x,y,z: x+y+z   # where x,y,z are names of arguments
print tot(1,2,3)

16
6

### ANONYMOUS FUNCTION

Like lambda function but it can take more than one arguments.

- map(func,seq) : applies a function to all the items in a list

In [9]:
number_list = [1,2,3]
y = map(lambda x:x**2,number_list)
print list(y)

[1, 4, 9]

### ITERATORS

- iterable is an object that can return an iterator
- iterable: an object with an associated iter() method 
    example: list, strings and dictionaries
- iterator: produces next value with next() method

In [14]:
# iteration example
name = "hello"
it = iter(name)
print next(it)    # print next iteration
print next(it)         # print next iteration

h
e

zip(): zip lists

In [16]:
# zip example
list1 = [1,2,3,4]
list2 = [5,6,7,8]
z = zip(list1,list2)
print z

[(1, 5), (2, 6), (3, 7), (4, 8)]

In [17]:
un_zip = zip(*z_list)
un_list1,un_list2 = list(un_zip) # unzip returns tuple
print un_list1
print un_list2
print type(un_list2)

(1, 2, 3, 4)
(5, 6, 7, 8)
<type 'tuple'>

### LIST COMPREHENSION

One of the most important topic of this kernel <br>
We use list comprehension for data analysis often. <br>
list comprehension: collapse for loops for building lists into a single line <br>
Ex: num1 = [1,2,3] and we want to make it num2 = [2,3,4]. This can be done with for loop. However it is <br> unnecessarily long. We can make it one line code that is list comprehension.

In [18]:
# Example of list comprehension
num1 = [1,2,3]
num2 = [i + 1 for i in num1 ]
print num2

[2, 3, 4]

[i + 1 for i in num1 ]: list of comprehension <br>
i +1: list comprehension syntax <br>
for i in num1: for loop syntax <br>
i: iterator <br>
num1: iterable object

In [19]:
# Conditionals on iterable
num1 = [5,10,15]
num2 = [i**2 if i == 10 else i-5 if i < 7 else i+5 for i in num1]
print num2

[0, 100, 20]

In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [22]:
data = pd.read_csv('pokemon.csv')

In [23]:
# lets return pokemon csv and make one more list comprehension example
# lets classify pokemons whether they have high or low speed. Our threshold is average speed.
threshold = sum(data.Speed)/len(data.Speed)
data["speed_level"] = ["high" if i > threshold else "low" for i in data.Speed]
data.loc[:10,["speed_level","Speed"]] # we will learn loc more detailed later

   speed_level  Speed
0          low     45
1          low     60
2         high     80
3         high     80
4          low     65
5         high     80
6         high    100
7         high    100
8         high    100
9          low     43
10         low     58